<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
      </br>&copy; Simon Measures {% year %}
    </p>
  </div>
</footer>