<div class="column is-5-tablet is-4-desktop">
  <div class="card shadow-lg is-rounded">
    <div class="card-image is-overflow-hidden">
      <div class="image has-text-centered">
        <img src="{{ church.data.image }}" alt="{{ church.data.imageAlt}}">
      </div>
    </div>
    <div class="card-content">
      <p class="card-header-title">
        {{ church.data.title }}
      </p>
      <div class="content">
      {{ church.data.description }}
      </div>
    </div>
    <footer class="card-footer has-background-white-bis">
      <p class="card-footer-item">
        <a href="{{ church.url }}" class="card-footer-item"><button class="button is-fullwidth is-success"><p class="is-uppercase">View</p></button></a>
      </p>
    </footer>
  </div>
</div>