<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ posts.data.title }}
    </p>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{ posts.data.image }}" alt="{{ posts.data.imageAlt}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
    {{ posts.data.description }}
    </div>
  </div>
  <footer class="card-footer">
    <a href="{{ posts.url }}" class="card-footer-item">Read the full post</a>
  </footer>
</div>