@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$green: #0097a7;

// Update Bulma's global variables
$family-sans-serif: "Montserrat", "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$success: $green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables

$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* Override Bulma variables */
$card-radius: 10px; /* Adjust the corner radius as per your preference */
$card-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.31), 0 0px 0 1px rgba(10, 10, 10, 0.07); /* Adjust shadow properties as needed */

@import "../../../mybulma/bulma.sass";